# Dependencies
node_modules/
/node_modules

# Package lock files in node_modules
node_modules/.package-lock.json
**/node_modules/.package-lock.json

build/
dist/
frontend/
seed/
# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

database.sqlite
database.db
submissions.json