<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>404 | Page Not Found</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/style.css" />
</head>
<body>
 <header class="header">
    <div class="container header-inner">
      <div class="logo">StudentMS</div>
      <nav class="nav">
        <a class="choosed-link" href="/">Home</a>
        <a href="/about">About</a>
        <a id="courses-nav-link" href="/courses">Courses</a>
        <a href="/contact">Contact</a>
        <a id="auth-link" href="/login">Login</a>
        <a id="logout-link" href="#" style="display:none">Logout</a>


      </nav>
    </div>
  </header>
<main>
  <section class="error">
    <div class="container error-content">
      <h1>404</h1>
      <h2>Page <span>Not Found</span></h2>
      <p>
        Oops! The page you are looking for doesn’t exist or has been moved.
      </p>

      <div class="error-actions">
        <a href="/" class="btn-primary">Back to Home</a>
        <a href="/contact" class="btn-outline">Contact Support</a>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <div class="footer-container">
    <p>© 2025 Student Management System - Built by tatty sarymsaq</p>
  </div>
</footer>

<script src="/auth.js" defer></script>
</body>
</html>
